<nav class="navbar navbar-expand-md fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Valorant</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvas" aria-controls="offcanvas" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvas" aria-labelledby="offcanvasLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Valorant</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ">
          <li class="nav-item mx-2 d-flex align-items-center">
            <a class="nav-link" href="#">Agents</a>
          </li>
          <li class="nav-item mx-2 d-flex align-items-center">
            <a class="nav-link" href="#">Weapons</a>
          </li>


          <li class="nav-item mx-2 dropdown d-flex align-items-center">
            <a class="nav-link dropdown-toggle" disabled   data-bs-toggle="dropdown" aria-expanded="false">
                Maps
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Ascent</a></li>
                <li><a class="dropdown-item" href="#">Bind</a></li>
                <li><a class="dropdown-item" href="#">Breeze</a></li>
                <li><a class="dropdown-item" href="#">Fracture</a></li>
                <li><a class="dropdown-item" href="#">Haven</a></li>
                <li><a class="dropdown-item" href="#">Icebox</a></li>
                <li><a class="dropdown-item" href="#">Lotus</a></li>
                <li><a class="dropdown-item" href="#">Pearl</a></li>
                <li><a class="dropdown-item" href="#">Split</a></li>
                <li><a class="dropdown-item" href="#">Sunset</a></li>
            </ul>
          </li>
          
        </ul>
        <!-- <form class="d-flex mt-3" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </div>
</nav>
