* {
  color: white;
}

.navbar {
  background-color: var(--black);
}

.nav-link:hover, 
.navbar-brand:hover {
  color: var(--red);
}

.dropdown-item:hover {
  color: var(--red);
  background-color: var(--black);
}

.dropdown-menu {
  top: 100%;
  right: -80%;
}

.dropdown:hover>.dropdown-menu {
  display: block;
  background-color: var(--black);

}
