.iconSkills {
  background-color: var(--black);
  width: 100%;
  padding: 10px;
}

.buttonSkills {
  padding: 0;
  width: 100%;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.buttonSkills.active {
  border-bottom: none;
}

.tab-content {
  display: flex;
  justify-content: center;
}

.tab-pane {
  height: 40vh;
}

h1 {
  font-size: 4em;
}
p {
  color: var(--white);
}