<div class="container">
  <div class="row">
    <div class="col-12 mb-3 ab">
      <h1> {{ selectedInfo.displayName }} </h1>
    </div>
  
    <div class="col-12 borderLeft py-2 mb-3">
      <div class="row">
        <div class="col-2 mb-4">
          <img src="{{ selectedInfo.role.displayIcon }}" alt="agentRole" class="iconRole">
        </div>
        <div class="col-10 text-start mt-2">
          <h2 class=""> {{ selectedInfo.role.displayName }} </h2>
        </div>
        <div class="col-12">
          <p> {{ selectedInfo.role.description }} </p>
        </div>
      </div>
    </div>
  
  
    <ul class="nav nav-tabs row mb-4" id="myTab" role="tablist">
      <li class="nav-item col-3" >
        <button class="nav-link buttonSkills active" id="Q" data-bs-toggle="tab" data-bs-target="#abilitie1" type="button">
          <img src="{{ selectedInfo.abilities[0].displayIcon }}" alt="icon skill" class="iconSkills">
        </button>
      </li>
      <li class="nav-item col-3">
        <button class="nav-link buttonSkills" id="E" data-bs-toggle="tab" data-bs-target="#abilitie2" type="button">
          <img src="{{ selectedInfo.abilities[1].displayIcon }}" alt="icon skill" class="iconSkills">
        </button>
      </li>
      <li class="nav-item col-3">
        <button class="nav-link buttonSkills" id="C" data-bs-toggle="tab" data-bs-target="#abilitie3" type="button">
          <img src="{{ selectedInfo.abilities[2].displayIcon }}" alt="icon skill" class="iconSkills">
        </button>
      </li>
      <li class="nav-item col-3">
        <button class="nav-link buttonSkills" id="X" data-bs-toggle="tab" data-bs-target="#abilitie4" type="button" >
          <img src="{{ selectedInfo.abilities[3].displayIcon }}" alt="icon skill" class="iconSkills ">
        </button>
      </li>
    </ul>
  
    <div class="tab-content row" id="myTabContent">
      <div class="tab-pane fade col-12 show active" id="abilitie1"  tabindex="0">
        <h2> {{ selectedInfo.abilities[0].displayName }} </h2>
        <p> {{ selectedInfo.abilities[0].description }} </p>
      </div>
      <div class="tab-pane fade col-12" id="abilitie2"  tabindex="0">
        <h2> {{ selectedInfo.abilities[1].displayName }} </h2>
        <p> {{ selectedInfo.abilities[1].description }} </p>
      </div>
      <div class="tab-pane fade col-12" id="abilitie3"  tabindex="0">
        <h2> {{ selectedInfo.abilities[2].displayName }} </h2>
        <p> {{ selectedInfo.abilities[2].description }} </p>
      </div>
      <div class="tab-pane fade col-12" id="abilitie4"  tabindex="0">
        <h2> {{ selectedInfo.abilities[3].displayName }} </h2>
        <p> {{ selectedInfo.abilities[3].description }} </p>
      </div>
    </div>
  </div>
</div>




