.iconSkills {
  background-color: var(--black);
  width: 100%;
  padding: 10px;
}

.buttonSkills {
  width: 100%;
  padding: 0;
  border: 1px solid var(--white);  
  border-radius: 0px;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.buttonSkills.active {
  border-bottom: none;
  transform: translateY(0.1px);
}


ul {
  --bs-nav-tabs-link-active-bg: var(--black);
}

.tab-pane {
  height: 30vh;
  max-width: 25vw;
}

.iconRole {
  width: 100%;
}

.borderLeft {
  border-left: 1px solid var(--white);
  height: 21vh;
}

h1 {
  font-size: 100px;
}

h2 {
  font-size: 3em;
  color: var(--lightRed);
}

p {
  font-size: 1.3em;
}