.iconSkills {
  background-color: var(--black);
  width: 100%;
  padding: 10px;
}

.buttonSkills {
  // all:unset;
  width: 100%;
  padding: 0;
  border: 1px solid var(--white);  
  border-radius: 0px;
}

.nav-item {
  display: flex;
  justify-content: center;
}

.buttonSkills.active {
  border-bottom: none;
  transform: translateY(0.1px);
}


ul {
  --bs-nav-tabs-link-active-bg: var(--black);
}

.tab-content {
  display: flex;
  justify-content: center;
}

.tab-pane {
  height: 21vh;
}

.iconRole {
  width: 100%;
}

h1 {
  font-size: 4em;
}
p {
  color: var(--white);
}