<div class="bg">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-7 writtenPart">
        <img src="{{ mapsImg.splash }}" alt="ImgMap" class="imgMap">
      </div>
      <div class="col-12 col-lg-5 writtenPart d-flex  align-items-center">
        <div class="py-5">
          <h1>MAPS</h1>
          <h3 class="fs-2">FIGHT AROUND THE WORLD</h3>
          <h4 class="mb-5 mt-2">Each map is a playground to showcase your creative thinking. Purpose-built for team
            strategies, spectacular plays, and clutch moments. Make the play others will imitate for years to come..
          </h4>
          <div class="d-flex justify-content-end">
            <button class="btn px-5 py-2">See All The Maps</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>