.imgMap {
  max-height: 90vh;
  width: 100%;
  -webkit-mask-image: linear-gradient(to left, transparent 20%, var(--white) 90%);
  position: absolute;
  left: 0;
} 

.writtenPart {
  min-height: 90vh;
  z-index: 1;
}

.bg {
  background-color: var(--white);
}

h3,
h4 {
  color: var(--black);
}

.btn {
  background-color: var(--white);
  font-size: 1.3em;
}