<div class="bg">
  <div class="container">
    <div class="row">

      <div class="col-12 col-md-7">
        <img src="{{ mapsImg.splash }}" alt="ImgMap" class="imgMap">
      </div>
      <div class="col-12 col-md-5 writtenPart d-flex  align-items-center">
        <div class="py-5 line">
          <h1 data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="400"
            data-aos-anchor-placement="top-bottom">MAPS</h1>
          <h3 class="fs-2" data-aos="fade-left" data-aos="fade-left" data-aos-easing="ease-in-sine"
            data-aos-duration="500" data-aos-anchor-placement="top-bottom">FIGHT AROUND THE WORLD</h3>
          <h4 class="mb-5 mt-2" data-aos="fade-left" data-aos-easing="ease-in-sine" data-aos-duration="600"
            data-aos-anchor-placement="top-bottom">Each map is a playground to showcase your creative thinking.
            Purpose-built for team
            strategies, spectacular plays, and clutch moments. Make the play others will imitate for years to come..
          </h4>
          <div class="col-md-7 offset-5 borderButton" data-aos="fade-left" data-aos-easing="ease-in-sine"
            data-aos-duration="650" data-aos-anchor-placement="top-bottom">
            <a routerLink="/maps" class="button py-2">See The Maps</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>