.imgMap {
  height: 100vh;
  width: 100%;
  -webkit-mask-image: linear-gradient(to left, transparent 30%, var(--white) 90%);
  position: absolute;
  left: 0;
} 

.writtenPart {
  height: 100vh;
  z-index: 1;
}

.line {
  border-right: 1px solid var(--lightRed);
  padding-right: 10%;
}

.bg {
  background-color: var(--white);
}

h3,
h4 {
  color: var(--black);
}

@media (max-width: 767px) {
  .imgMap {
    display: none;
  }
  
  h1 {
    font-size: 4.5em;
  }
}
