h1 {
  font-size: 6em;
  color: var(--lightRed);
  letter-spacing: -5px;
}

h3, h4 {
  color: var(--white);
  line-height: 1.4em;
  font-family: Tungsten-Bold,arial,georgia,sans-serif;
}

.borderDecoration {
  border-left: 1px solid var(--white);
  padding-left: 4%;

}

.bustPortrait {
  width: 1000px;
  position: relative;

}

.backgroundBustPortrait {
  width: 600px;
  position: absolute;
}

.btn {
  background-color: var(--white);
  font-size: 1.3em;
}
