<div *ngIf="agentsImg" class="row">
  <div class="col-12 col-lg-5 d-flex flex-column justify-content-center">
    <div class="writtenPart py-5">
      <h1>AGENTS</h1>
      <!-- <h3 class="fs-2">CREATIVITY IS YOUR GREATEST WEAPON</h3> -->
      <h4 class="mb-5 mt-2">More than guns and bullets, you’ll choose an Agent armed with adaptive, swift, and lethal
        abilities that create opportunities to let your gunplay shine. No two Agents play alike, just as no two
        highlight reels will look the same.
      </h4>
      <div class="d-flex justify-content-end">
        <button class="btn px-5 py-2">See The Agents</button>
      </div>
    </div>
  </div>
  <!-- <div class="col-md-2"></div> -->
  <div *ngIf="agentsImg" [@fadeInOut]="imgFade" class="col-12 col-lg-7 d-flex justify-content-end ">
    <img [src]="agentsImg.background" alt="background agent" class="backgroundBustPortrait">
    <img [src]="agentsImg.bustPortrait" alt="image agent" class="bustPortrait">
  </div>
</div>