<div class="bg">
  <div class="container">  
    <div *ngIf="agentsImgMain" class="row"> 
      <div class="col-12 col-md-6 mt-5">
        <h1>Agents:</h1>
        <h3>CREATIVITY IS YOUR GREATEST WEAPON</h3>
        <h4>More than guns and bullets, you’ll choose an Agent armed with adaptive, swift, and lethal abilities that create opportunities to let your gunplay shine. No two Agents play alike, just as no two highlight reels will look the same.
        </h4>
      </div>
      <div *ngIf="agentsImgMain" [@fadeInOut]="imgFade" class="col-12 col-md-6 d-flex justify-content-end">
        <img [src]="agentsImgMain.background" alt="background agent" class="backgroundBustPortrait">
        <img [src]="agentsImgMain.bustPortrait" alt="image agent" class="bustPortrait">
      </div>
      
    </div>
  </div>
</div>
