.bg {
  background-color: var(--black);
}

.container {
  min-height: 100vh;
}

.writtenPart {
  border-left: 1px solid var(--white);
  padding-left: 10%;
  z-index: 1;
}

.bustPortrait {
  width: 1000px;
  position: relative;


}

.backgroundBustPortrait {
  width: 600px;
  position: absolute;

}

.borderButton {
  background: linear-gradient(to top, 
  var(--white) 20%,
  transparent 20%,
  transparent 80%,
  var(--white) 80%);
  box-sizing: border-box
}

.button {
  border: 1px solid var(--black);
  &:before {
    background-color: var(--white);
  }
  &:hover {
    color: var(--black);
  }
}
