.bg {
  background-color: var(--black);
}

.writtenPart {
  border-left: 1px solid var(--white);
  padding-left: 10%;
  z-index: 1;
}

.bustPortrait {
  width: 1000px;
  position: relative;


}

.backgroundBustPortrait {
  width: 600px;
  position: absolute;

}

.btn {
  background-color: var(--white);
  font-size: 1.3em;
}
