@font-face {
  font-family: valorantFont;
  src: url('assets/font/Valorant\ Font.ttf');
}

* {
  font-family: valorantFont;
}


h1 {
  font-size: 6em;
  color: var(--lightRed);
  letter-spacing: -5px;
}

h3,
h4 {
  color: var(--white);
  line-height: 1.4em;
  font-family: Tungsten-Bold, arial, georgia, sans-serif;
}

:root {
  --black: #000;
  --white: #FFFBF5;
  --darkRed: #53212B;
  --lightRed:#FD4556;
  --red: #BD3944;
}
