.bg {
  min-height: 100vh;
  background-color: var(--black);
}

.svg {
  width: 78%;
  margin-bottom: 110px;
  margin-top: 70px;
}

.borderIcon {
  width: 82px;
  border: 1px solid var(--white);
  overflow: hidden;
  position: relative;
}

.selectedIcon {
  border: 2px solid var(--lightRed);
  
}