* {
  background-color: var(--black);
}

.marginTop {
  margin-top: 3%;
  height: 94vh;
  overflow: hidden;
}

h1 {
  font-size: 4em;
  margin: 0;
}


.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}