// .imgs {
//   width: 11%;
//   border: 1px solid var(--black);
//   box-shadow: 1px 2px 30px 5px var(--black);
// }

// .selected {
//   position: absolute;
//   top: 0;
//   left: 0;
//   z-index: -1;
//   width: 100vw;
//   height: 100vh;
// }

.verticalCarousel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 170px;
  max-height: 80vh;
  box-shadow: 1px 2px 15px 5px var(--black);

}

.carouselContent {
  height: 80vh;
  transition: transform 0.5s ease-in-out;
  min-height: 100vh;
}

.carousel-item {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

.marginTop {
  margin-top: 5%;
}

.img {
  height: 100vh;
}