.verticalCarousel {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 190px;
  max-height: 80vh;
  box-shadow: 1px 2px 20px 7px var(--black);
  border-radius: 5px;
}

.carouselContent {
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  display: flex;
  justify-content: center;
}

.marginTop {
  margin-top: 6%;
  max-width: 190px;
  position: relative;

}

.img {
  height: 100vh;
}

.buttonUp,
.buttonBack {
  background-color: transparent;
  border: none;
  transition: all 0.5s ease;
}

.buttonUp:hover {
  transform: translateY(-5px);
}

.buttonBack:hover {
  transform: translateY(5px);
}

svg {
  width: 40px;
  height: 40px;
}

.buttonsCircle {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
}

.buttonsCircle button {
  background: var(--black);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  height: 12px;
  width: 12px;
}

.buttonsCircle button.current {
  background: var(--lightRed);
  cursor: default;
}