  <div class="container">
    <div class="row">
      <div class="col-12 col-md-5 writtenPart d-flex flex-column justify-content-center" >
        <div class="py-5 line">
          <h1 
          data-aos="fade-right"
          data-aos-easing="ease-in-sine"
          data-aos-duration="400"
          data-aos-anchor-placement="top-bottom"
          >Weapons</h1>
          <h3 class="fs-2" 
          data-aos="fade-right"
          data-aos-easing="ease-in-sine"
          data-aos-duration="500"
          data-aos-anchor-placement="top-bottom"
          >CHOOSE YOUR WEAPON</h3>
          <h4 class="mb-5 mt-2" 
          data-aos="fade-right"
          data-aos-easing="ease-in-sine"
          data-aos-duration="600"
          data-aos-anchor-placement="top-bottom"
          >Guns have limited amounts of ammo but come with reserve magazines. Bullets deal different amounts of damage depending on the gun, the body part they hit, and the distance between the shooter and the target.
          </h4>
          <div class="col-md-7 offset-5 borderButton" data-aos="fade-right"
          data-aos-easing="ease-in-sine"
          data-aos-duration="650"
          data-aos-anchor-placement="top-bottom">
            <a routerLink="/guns" class="button py-2">See The Guns</a></div>
          </div>
        </div>
        <div class="col-12 col-md-5" >
          <img src="{{ gunsCollectionImg.displayIcon }}" alt="ImgMap" class="imgGunCollection">
        </div>
    </div>
  </div>
