.imgGunCollection {
  height: 100vh;
  width: 100%;
  mask-image: linear-gradient(to right, transparent 30%, var(--white) 90%);
  
  position: absolute;
  left: 0;
} 

.writtenPart {
  height: 100vh;
  z-index: 1;
}

.line {
  border-left: 1px solid var(--lightRed);
  padding-left: 10%;
}

.bg {
  background-color: var(--white);
}

h3,
h4 {
  color: var(--white);
}

.borderButton {
  background: linear-gradient(to top, 
  var(--white) 20%,
  transparent 20%,
  transparent 80%,
  var(--white) 80%);
}

.button {
  border: 2px solid var(--black);
  &:before {
    background-color: var(--white);
  }
  &:hover {
    color: var(--black);
  }
}

@media (max-width: 767px) {
  .imgGunCollection {
    display: none;
  }

  .line {
    border-left: 1px solid var(--lightRed);
    padding-left: 4%;
  }

  h1 {
    font-size: 4.5em;
  }
  
}